<header class="main-header text center">
  {{#if @blog.cover}}

  <div class="cover" style="background-image: url({{@blog.cover}})">
    <div class="cover-mask padding">
      {{#if @blog.logo}}
      <nav>
        <a href="//carlosazaustre.es/blog/" class="inline">
          <img src="{{@blog.logo}}" alt="Carlos Azaustre | Desarrollo y Formacion Web" class="blog-logo blog-logo--front center border circle" />
          <img src="{{ asset "jslogo.jpg" }}" alt="{{@blog.title}}" class="blog-logo blog-logo--back center border circle" />
        </a>
      </nav>
      {{/if}}
      <div class="site_width">
        <div class="blog-title"><a href="//carlosazaustre.es/blog/">{{@blog.title}}</a></div>
        <p class="blog-description">Art&iacute;culos y tutoriales sobre tecnologías web: HTML5, CSS, JavaScript,ECMAScript6, ReactJS, AngularJS, Node.js, MongoDB...</p>
      </div>
    </div>
</div>

{{else}}

<div class="no-cover site_width padding border solid bottom">
  {{#if @blog.logo}}
  <nav>
    <a href="//carlosazaustre.es/blog/" class="inline blog-logo-extra-border border circle">
      <img src="{{@blog.logo}}" alt="{{@blog.title}}" class="blog-logo center border circle" />
    </a>
  </nav>
  {{/if}}
  <div class="site_width">
    <div class="blog-title"><a href="//carlosazaustre.es/blog/">{{@blog.title}}</a></div>
    <p class="blog-description">{{@blog.description}}</p>
  </div>

  <div class="margin-top">
    <a href="//carlosazaustre.es/blog/sobre-mi/">Sobre mí</a> |
    <a href="//carlosazaustre.es/blog/curriculum/">Currículum</a> |
    <a href="//carlosazaustre.es/blog/ebook-angular/">eBooks</a> |
    <a href="//www.redbubble.com/people/carlos-azaustre/shop">Camisetas Geeks</a>
  </div>
</div>

{{/if}}
</header>
