{{!< default}}
{{#post}}

{{#if image}}

<header>
  <div class="cover" style="background-image: url({{image}})">
    <div class="cover-mask">

      <div class="post-cover site_width site_width padding">

        <h1>{{{title}}}</h1>

        <div style="display: none;">
          <img id="feature-image" src="{{image}}" />
        </div>

      </div>
    </div>
  </div>
</header>


{{else}}

{{> "header"}}

{{/if}}

<main class="site_width padding" role="main">
  <article class="{{post_class}}">
    {{#if image}}
    {{else}}
    <header class="post-header">
      <h1>{{{title}}}</h1>
    </header>
    {{/if}}

    <div class="entry">
      {{content}}
    </div>

    {{!
    Here, you can add disqus comment.
    Also go to partials/disqus-comment to set your SHORTNAME.
  }}
  {{!> disqus-comment}}
</article>
</main>

{{/post}}
