{{!< default}}

{{#post}}

{{#if image}}

<header>
  <div class="cover" style="background-image: url({{image}})">
    <div class="cover-mask">

      <div class="post-cover site_width site_width padding">

        <h1>{{{title}}}</h1>
        <time datetime="{{date format='YYYY-MM-DD'}}">
          <span class="fa fa-calendar-o"></span>
          {{date format="dddd, MMMM DD, YYYY"}}
        </time>

        <div style="display: none;">
          <img id="feature-image" src="{{image}}" />
        </div>

      </div>
    </div>
  </div>
</header>

{{else}}

{{> "header"}}

{{/if}}

<main class="site_width padding" role="main">
  <article class="{{post_class}}">
    {{#if image}}
    {{else}}
    <header class="post-header">
      <h1>{{{title}}}</h1>
      <time datetime="{{date format='YYYY-MM-DD'}}">
        <span class="fa fa-calendar"></span>
        {{date format="dddd, MMMM DD, YYYY"}}
      </time>
    </header>
    {{/if}}

    <div class="entry margin_bottom">
      <section class="share" style="text-align: center;">
        <div class="addthis_sharing_toolbox"></div>
      </section>
      {{content}}
    </div>

    <hr/>
    <section class="share" style="text-align: center;">
      <h5>Si te ha gustado éste artículo, por favor, compártelo para que otros puedan leerlo :)</h5>
      <div class="addthis_sharing_toolbox"></div>
    </section>
    <hr/>
    {{> "newsletter"}}

    {{> "adverstising"}}

    <hr>
    <footer class="author-post relative margin_top">
      {{#if author}}
      {{#if author.image}}
      <div class="author-thumb inline middle">
        <img src="https://s3-eu-west-1.amazonaws.com/carlosazaustre-blog/carlos-azaustre-desarrollo-y-formacion-web.png" alt="Carlos Azaustre" class="border circle" />
      </div>
      {{/if}}
      <div class="inline middle align vertical">
        <div>{{author}}</div>
        <div>{{author.bio}}</div>
        <br/>
        <div>S&iacute;gueme en Twitter en <a href="//twitter.com/carlosazaustre">@carlosazaustre</a> y en <a href="//facebook.com/com/carlosazaustre.web">Facebook</a></div>
      </div>

      {{/if}}
    </footer>

    {{> disqus-comment}}
  </article>
</main>

{{/post}}
